<div class="centered-content">
    <div class="model-box">
        <h1 class="title">Create a New Task</h1>

        <p class="control is-expanded">
            <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name..." />
        </p>

        <br />

        <div class="field is-grouped is-grouped-right">
            <p class="control"><a class="button is-primary has-text-weight-bold" (click)="createTask(taskTitleInput.value)">Create</a></p>
            <p class="control"><a class="button is-light" routerLink="/">Cancel</a></p>
        </div>
    </div>
</div>
