@import '../../../styles.scss';

.task-manager-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 680px;
    box-shadow: 0px 32px 32px #0004;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 40px;
    border-radius: 8px 0px 0px 8px;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px;
    position: relative;
    border-radius: 0px 8px 8px 0px;

    .top-bar {
        display: flex;
        margin-bottom: 20px;

        .title {
            flex-grow: 1;
            margin: 0px;
        }
    }
}

.title {
    font-family: 'Roboto Condensed';
    font-size: 24px;
}

.list-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .list-menu-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: max-content;
        margin-bottom: 5px;
        padding: 5px;
        color: #000;
        border-radius: 5px;
        white-space: inherit;

        &:hover {
            background: $red-light-main;
        }

        &.is-active {
            color: #fff;
            font-weight: bold;
            background: $red-main;
        }
    }
}

.list-menu > *:last-child {
    margin-bottom: 0px;
}

.task {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;

    &:not(.complete) {
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:hover {
            box-shadow: 0px 0px 0px 5px #eee;

            .task-buttons {
                opacity: 1;
                transform: scale(1);
            }
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &.completed .task-text {
        opacity: 0.8;
        text-decoration: line-through;
    }

    .task-text {
        display: flex;
        flex-grow: 1;
    }

    .task-buttons {
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        transform: scale(0.85);
    }
}

.task-menu > .task:first-child {
    margin-top: 0px;
}

.circle-add-button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 40px;
    right: 40px;
    border: none;
    border-radius: 50%;
}

.empty-state-text {
    font-size: 20px;
    text-align: center;
}

